<!DOCTYPE html>
<html>

<head>
    <title>Piano Fingering Generator</title>
    <!-- Your existing head content -->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('app.index') }}">Piano Fingering Generator</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li><a href="{{ url_for('app.index') }}">Home</a></li>
                    <!-- Change this line from 'index' to 'app.index' -->
                </ul>
            </div>
        </nav>
    </header>
    <nav>

    </nav>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Piano Player. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>